body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 20px 0px;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    font-variant: small-caps;
}

table{
    padding: 10px;
    width: 900px;
    border-collapse: collapse;
    position: relative;
    margin: auto;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

thead, tfoot{
    background-color: gray;
    color: white;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: gray;
}


tbody > tr:nth-child(2n){
    background-color: lightgrey;
}

td.num{
    text-align: right;
}

p{
    max-width: 400px;
    margin: 10px auto;
}