*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paleta
#333d66
#73bae6
#bbc4ea
#525666
#5c6fb8
*/

html{
   height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #333d66;
    flex-shrink: 0;
}

header img{
    max-width: 100%;
}

main{
    padding: 10px;
    width: 100%;
    flex: 1 0 auto;
}

.main-title{
    font-family: 'Leckerli One', cursive;
    color: #31343d;
    text-align: center;
}

#button-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    margin: 10px;
    color: #333d66;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    box-shadow: 5px 5px 10px #525666;
    display : flex;
    align-items : center;
    justify-content : center;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 10px;
    border-color: #5c6fb8;
}


.text-button{
    border-radius: 12px;
    height: 4em;
    width: 210px;
    color: #26272e;
    background-color: #5c6fb8;
    box-shadow: 5px 5px 5px #525666;
    display : flex;
    align-items : center;
    justify-content : center;
    font-family: 'Paytone One', sans-serif;
    font-variant: small-caps;
    font-size: 1.2em;
}

footer{
    width: 100%;
    bottom: 0px;
    padding: 60px;
    background-color: #333d66;
    flex-shrink: 0;
}

.cor-botao{
    background-color: #5c6fb8!important;
    border-color: #5c6fb8!important;
    color: #dbdffc!important;
}

.cor-card{
    border-radius: 10px!important;
}
