*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Paleta
#333d66
#73bae6
#bbc4ea
#525666
#5c6fb8
*/

html{
   height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    padding: 10px;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    background-color: #333d66;
    flex-shrink: 0;
}

header img{
    max-width: 100%;
}

main{
    padding: 10px;
    width: 100%;
    flex: 1 0 auto;
}

.main-title{
    font-family: 'Leckerli One', cursive;
    color: #31343d;
    text-align: center;
}

#button-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    width: 100%;
    bottom: 0px;
    padding: 60px;
    background-color: #333d66;
    flex-shrink: 0;
}


.small-caps{
    font-variant: small-caps;
    font-size: 1.5em!important;
}

.tamanho-card{
    width: 18rem; 
    height: 13rem;

}

.bg-softdark{
    background-color: #333d66ec;
}

.text-card{
    font-size: 1.1em;
    text-shadow: 0px 0px 2px #fff;

}